/*
 * Base structure
 */

html,
body {
	height: 100%;
	background-color: #101010;
}

body {
	color: #ffd500;
	text-align: center;
}

input {
	color:black;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;  
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {

}

/*
 * Header
 */
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-nav > li {
	display: inline-block;
}

.masthead-nav > li + li {
	margin-left: 20px;
}

.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  --color: #fff;
  --border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */
.mastfoot, .scrollfoot {
	font-size:11px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead, .scrollhead,
  .mastfoot, .scrollfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead, .scrollhead,
  .mastfoot, .scrollfoot,
  .cover-container {
    width: 700px;
  }
}

table {
	margin:25px auto;
	background-color:inherit;
}

table td, table th {
	padding:5px;
	margin:5px;
	background-color:#101022;
	text-align:left;
	border:solid 2px #101010;
	color:#C0C0D0;
}

table th {
	font-weight:bold;
}

.code-form * {
	vertical-align:middle;
}

.code-input {
	font-size:30px;
	color:black;
	padding:0px 10px;
	width:130px;
	margin:10px;
	text-transform:uppercase;
}

.error-message {
	color:pink;
}

.voucher-code {
	color:white;
	font-size:30px;
}

.form-label, .form-input {
    display: inline-block;
    width: 50%;
}

.form-label {
    text-align: right;
}

.form-input {
	text-align:left;
}

.form-validation {
	display:none;
	color:pink;
}